@font-face {
    font-family: "icones";
    src: url("/assets/font/icones.ttf");
}

:root {
    --corpo: #1D232A;
    --cabeçalho: #1D232A;
    --cabeçalho-mobile: #15191C;
    --menu-lateral: #15191C;
    --cartão: #2C343A;
    --fonte-color: #FFFFFF;
    --fonte-alternativa: #95999C;
    --fonte-family: 'Open Sans', 'icones', sans-serif;
    --links: #0480DC;
    --botão: #0480DC;
    --sombras: 0px 4px 4px rgba(0, 0, 0, 0.16);
}

body{
    background-color: var(--corpo);
    font-family: var(--fonte-family);
    color: var(--fonte-color);
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cabeçalho-mobile);
    padding: 8px 16px;
    box-shadow: var(--sombras);
}

.cabecalho-menu i::before {
    content: "\e904";
    font-size: 24px;
}

.cabecalho-notificacao i::before {
    content: "\e906";
    font-size: 24px;
}

.cabecalho-logo {
    width: 40px;
}

.menu-lateral {
    display: flex;
    flex-direction: column;
    background-color: var(--menu-lateral);
    width: 75vw;
    height: 100vh;
    position: absolute;
    left: -100vw;
    transition: .25s;
}

.menu-lateral--ativo{
    left: 0;
    transition: .25s;
}

.menu-lateral-logo {
    align-self: center;
    width: 188px;
    padding: 16px;
}

.menu-lateral-link{
    height: 64px;
    color: var(--fonte-color);
    padding-left: 64px;
    display: flex;
    align-items: center;
}

.menu-lateral-link--ativo {
    color: var(--fonte-color);
    padding: 56px;
    border-left: 8px solid var(--fonte-color);
}

.menu-lateral-link::before {
    content: "";
    width: 24px;
    height: 24px;
    font-size: 24px;
    position: absolute;
    left: 24px;
}

.menu-lateral-link--inicio::before {
    content: "\e902";
}

.menu-lateral-link--videos::before {
    content: "\e90e";
}

.menu-lateral-link--picos::before  {
    content: "\e909";
}

.menu-lateral-link--integrantes::before {
    content: "\e903";
}

.menu-lateral-link--camisas::before {
    content: "\e900";
}

.menu-lateral-link--pinturas::before {
    content: "\e90a";
}

.principal {
    padding: 24px 16px;
    display: grid;
    gap: 16px;
}

.titulo-pagina {
    font-size: 1.5rem;
    font-weight: 700;
}

.titulo-secao {
    font-size: 1.2rem;
    font-weight: 700;
}

.cartao {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    background-color: var(--cartão);
}

.cartao--destaque {
    margin-bottom: 16px;
}

.cartao-conteudo {
    padding: 16px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px;
}

.cartao-destaque {
    grid-column: span 2;
}

.cartao-titulo {
    font-size: 1.2rem;
    font-weight: 700;
    grid-column: span 2;
}

.cartao-perfil {
    color: var(--fonte-alternativa);
    font-size: 0.9rem;
    grid-column: span 2;
}

.cartao-info {
    display: flex;
    align-items: center;
    color: var(--fonte-alternativa);
}

.cartao-info--tempo::before {
    content: "\e90c";
    margin-right: 8px;
}

.cartao-info--visualizacao::before {
    content: "\e90f";
    margin-right: 8px;
}

.cartao-botao {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--botão);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: 0.9rem;
    justify-self: flex-end;
}

.cartao-botao--play::before {
    content: "\e90b";
    font-size: 24px;
    grid-column: span 2;
}

.cartao-botao--destaque {
    width: 100%;
    grid-column: span 2;
}

.cartao-botao--destaque::before {
    margin-right: 8px;
}

.secao {
    display: grid;
    gap: 16px;
}

.cartao-botao--buy::before {
    content: "\e901";
    font-size: 24px;
    grid-column: span 2;
}

.cartao-info--buy::before {
    content: "\e905";
    margin-right: 8px;
}